.header {
  background: #1e3c72;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px 0;
}

.headerTitle {
  font-size: clamp(3.7rem, 4.3vw, 5.5rem);
  text-align: center;
}

.userInfo {
  display: flex;
  gap: 30px;
  align-items: center;
  font-size: 1.5rem;

  span {
    font-weight: 900;
  }

  button {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    transition-duration: 0.25s;

    &:hover {
      background-color: #fff;
      color: var(--main-color);
    }
  }
}

@media (max-width: 768px) {
  .userInfo {
    flex-direction: column;
    gap: 12px;

    button {
      padding: 5px 12px;
    }
  }
}
