.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 12px 20px;
  width: max(80%, 312px);
  border-top: 2px solid #888;

  &:last-of-type {
    border-bottom: 2px solid #888;
  }

  button {
    font-size: 1.2rem;

    .icon {
      font-size: 1.5rem;
    }
  }
}

.title {
  font-size: clamp(1.2rem, 2.5vw, 3.2rem);
  letter-spacing: 1px;
}